.achieve_main {
    /* height: 80vh; */
    /* width: 100vw; */
    /* background-color: aliceblue; */
    padding: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.achieve_main_heading h1 {
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.achieve_main_heading hr {
    font-weight: 800;
    border: 1px solid black;
    width: 35%;
    text-align: center;
    margin-left: 32.5%;
    margin-right: 32.5%;

}

.achiever_cards_div {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
    
    align-items: center;
    justify-content: center;
    margin: 25px;
    margin-top: 30px;
}