@import url('https://fonts.googleapis.com/css?family=Jost');
.container_main_nav {
    height: 12vh;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    margin-bottom: 10px;
}

.navbar_image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding-right: 15px; */
}

.navbar_image img {
    height: 80px;
    width: 100px;
}

.navbar_title {
    /* flex: 1; */
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;    
}

.navbar_title > h1 {
    /* color: black; */
    padding-left: 25px;
    /* font-family: New Century Schoolbook, TeX Gyre Schola, serif;    */
    /* font-family: Trattatello, fantasy	;  */
    /* font-family: var(--font-base); */
/* 
    font-weight: 600;
    font-size: 45px; */
    /* color: #000; */
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;


}
 
.navbar_links { 
    flex: 1 ;
    padding-left: 150px;
    position: relative;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-end;
    align-items: center;
 } 

 .navbar_links a {
    /* display: flex; 
    align-items: flex-end; */
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
    /* color: black; */
    font-weight: 600;
    font-size: large;
    /* color: #000; */
font-family: Jost;
font-size: 23px;
font-style: normal;
font-weight: 300;
line-height: normal;
} 

.navbar_links a:hover {
    color: grey;
}
.line {
    height: 1px;
    /* background: #000; */
    display: block;
    margin: 10px auto; /* Center horizontally with auto margins */
    width: 95%;
  }
  