.main {
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
    /* background-image: url("../../assets/bgCourses.jpg"); */
    background-color: #fff;
    overflow: hidden;
    /* margin-bottom: 1%;  */
    padding-bottom: 5%;
    padding-top: 2%;
    border: 2px solid black;
}

.cards_div {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    justify-content: center;
}

.courses_heading {
    position: relative;
    display: flex;  
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 2%;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 500;
}

/* @media screen and (max-width: 2000px) {
    .app__navbar-logo img {
        width: 210px;
    }
} */

@media screen and (max-width: 1150px) {
    .courses_heading {
        padding-top: 1%;
        padding-bottom: 2%;
        font-size: 40px;
        margin-bottom: 20px;
        /* text-decoration: underline 2px dotted; */
    }

    .cards_div {
        padding-left: 1%;
        padding-right: 1%;
    }
}

/* @media screen and (max-width: 650px) {

} */

@media screen and (max-width: 650px) {
    .courses_heading {
        padding-top: 1%;
        padding-bottom: 2%;
        font-size: 30px;
        margin-bottom: 20px;
        /* text-decoration: underline 2px dotted; */
    }

    .cards_div {
        padding-left: 1%;
        padding-right: 1%;
    }
}

