.main_container_footer {
    display: flex;
    height: 60vh;
    flex-direction: column;
    /* background-color: grey; */ 
}

.top {
    background-color:dimgray;
    display: flex;
    flex: 1;
    /* flex-direction: column; */
    justify-content: space-between;
    overflow: hidden;
    padding: 10px;
}

.top_right_inner {
    float: left;
}

.top_right_inner > p{
    font-size: large;
    font-family: "Lucida Console", "Courier New", monospace;
}

.bottom {
    background-color: dimgray;
    flex: 2;

    display: flex;
    flex-direction: row;
}

.top_left {
    padding-left: 50px;
    color: white;
    /* display: flex; */
    flex-direction: row;
    flex: 2 ;
}

.top_right {
    /* display: flex; */
    flex-direction: row;
    flex: 1;
    align-items: flex-end;
    align-content: flex-end  ;
    justify-content: flex-end;
    padding: 10px;
    color: white;
}

.footer_logo {
    /* padding-left: 30px; */
    margin: 5px;
    margin-left: 50px;
    width: 100px;
    height: 85px;
}

.follow_links {
    /* background-color: antiquewhite; */
    width: 30%;
    padding: 10px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
} 

.follow_links > p {
    font-family: "Lucida Console", "Courier New", monospace;
    padding-right: 10px;
    text-align: center;

}

.inner_bottom {
    flex: 1;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.inner_bottom > p{
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

