.main_container_footer {
    display: flex;
    height: 340px; 
    flex-direction: column; 
    /* height: 60vh; */
    flex-direction: column;
    background-color: #C5E3EC;
    ;  
}

.footer {
    /* background-color:dimgray; */
    display: flex;
    flex: 1;
    /* flex-direction: column; */
    justify-content: space-between;
    overflow: hidden;
    padding-top: 3px;
    padding-left: 5%;
    padding-right: 5%;
}

.footer_right_inner {
    float: left;
}

.footer_right_inner > p{
    font-size: large;
    font-family: "Lucida Console", "Courier New", monospace;
}

.bottom {
    background-color: dimgray;
    flex: 1;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
}

.footer_left {
    padding-left: 50px;
    color: white;
    /* display: flex; */
    flex-direction: row;
    flex: 1 ;
}

.footer_middle {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.enroll_btn {
    background: white;
    border-radius: 60px;
    padding: 2%;
}

.enroll_btn:hover {
    opacity: 50%;
    background: white;
    border-radius: 60px;
    padding: 2%;
}

.footer_right {
    /* display: flex; */
    flex-direction: row;
    flex: 1;
    align-items: flex-end;
    align-content: flex-end  ;
    justify-content: flex-end;
    padding: 10px;
    color: #000000;
    margin-top: 30px;
}

.footer_logo {
    /* padding-left: 30px; */
    /* margin: 5px; */
    margin-left: 60px;
    width: 168px;
    height: 155px;
    margin-top: 30px;
}

.follow_links {
    /* background-color: antiquewhite; */
    /* width: 40%; */
    padding: 50px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
} 

.follow_links > p {
    font-family: "Lucida Console", "Courier New", monospace;
    padding-right: 10px;
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    color: #000000;
}

/* .follow_links_icons {
    margin: 2%;
} */

/* .inner_bottom {
    flex: 1;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.inner_bottom > p{
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
} */

