.achiever_card {
    position: relative;
    min-width: 301px;
    height: 50vh;
    margin-right: 2rem;
    padding: 1%;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-color: aliceblue;
    
}

.image_div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 100px;
    align-items: center;
    margin-bottom: 20px;
                    
}

.text_design {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    color: white;
} 


.heading_design {
    display: flex;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

a {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    position: absolute;
}

.learn_more_btn {
    background-color: sandybrown;
    border-radius: 8px;
    padding: 5px;
    margin: 15px;
    color: white; 
    font-weight: 500;
    font-family: "Lucida Console", "Courier New", monospace;
}

.learn_more_btn:hover {
    color: black;
    font-weight: 500;
}
